<div>
    <h1 id="funcionariostitle">Colaboradores</h1>
</div>

<div class="top-funcionarios">
    
    <div class="card-funcionarios">
        <h1>Funcionários:</h1>
        <h3>15</h3>
    </div>

    <div class="card-funcionarios">
        <h1>Custo da folha:</h1>
        <h3>R$ 75.000</h3>
    </div>

    <button class="btn_funcionarios" id="btn_add_funcionarios">
        <span class="icon_plus">+</span>
        Cadastrar Funcionario
    </button>

</div>

<div class="main">
    <div class="box-filter-funcionarios">
            
    </div>

        <div class="funcionarios-info">
            <div class="funcionario-info">
                <p>Luiz</p>

                <span>Cargo: Vendedor</span>
                <span>Status: Ativo <span class="dot dot-ativo"></span></span>
                <span>Turno: Manhã</span>
                <span>Contato: (11) 90000-0000</span>
                
            </div>

            <div class="funcionario-info">
                <p>Pedro</p>

                <span>Cargo: Caixa</span>
                <span>Status: Férias <span class="dot dot-ferias"></span></span>
                <span>Turno: Tarde</span>
                <span>Contato: (15) 93232-3213</span>

            </div>

            <div class="funcionario-info">
                <p>Yan</p>

                <span>Cargo: Vendedor</span>
                <span>Status: Ativo <span class="dot dot-ativo"></span></span>
                <span>Turno: Tarde</span>
                <span>Contato: (15) 91234-9878</span>
                
            </div>

            <div class="funcionario-info">
                <p>Luiza</p>

                <span>Cargo: Gerente</span>
                <span>Status: Ativo <span class="dot dot-ativo"></span></span>
                <span>Turno: Tarde</span>
                <span>Contato: (15) 95843-6677</span>
                
            </div>

            <div class="funcionario-info">
                <p>Gertrudes</p>

                <span>Cargo: Caixa</span>
                <span>Status: Licença <span class="dot dot-licenca"></span></span>
                <span>Turno: Manhã</span>
                <span>Contato: (15) 95478-5798</span>
                
            </div>
        </div>
</div>