<div class="estoque-section">
    <div>
        <h1 id="estoquetitle">Estoque</h1>
    </div>

    <div class="top-estoques">

        <div class="card-estoques">
            <h1>Produtos registrados:</h1>
            <h3 id="contagem-total-produtos">0</h3>
        </div>

        <div class="card-estoques">
            <h1>Produto mais vendido:</h1>
            <h3>Macarrao</h3>
        </div>

        <button class="btn_estoques btn_estoque_1" id="btn_move_estoque">
            Movimentar Estoque
        </button>

        <button class="btn_estoques" id="btn_add_estoque">
            Adicionar Produto
        </button>

    </div>

    <div class="main">
        <div class="box-filter-estoque">
            <input type="text" id="inputBuscaProduto" placeholder="Pesquisar por nome...">
        </div>

        <div class="estoque-info">

        </div>
    </div>
    <!-- Modal Cadastrar Produto -->
    <div id="modal-produto-cadastro" class="modal">
        <div class="modal-content">
            <span class="close-button-estoque">&times;</span>
            <h2>Cadastrar Novo Produto</h2>
            <form id="form-cadastro-produto">

                <input type="text" id="produto-nome" placeholder="Nome do Produto" required>
                <input type="text" id="produto-descricao" placeholder="Descrição do Produto" required>
                <input type="number" id="produto-min-quantidade" placeholder="Quantidade minima" required>
                <input type="number" id="produto-preco-custo" step="0.01" placeholder="Preço de custo (R$)" required>
                <label>Data de Validade:</label>
                <input type="date" id="produto-validade">

                <div class="double-column-input">
                    <input type="number" id="produto-preco-venda" step="0.01" placeholder="Preço de venda (R$)" required>
                    <input type="number" id="lucro-desejado" step="0.01" placeholder="Lucro desejado (%)" required>
                </div>

                <select id="unidade">
                    <optgroup label="Peso">
                        <option value="kg">Quilograma (kg)</option>
                        <option value="g">Grama (g)</option>
                    </optgroup>
                    <optgroup label="Volume">
                        <option value="L">Litros (L)</option>
                        <option value="ml">Mililitros (ml)</option>
                    </optgroup>
                    <optgroup label="Contagem">
                        <option value="un">Unidade (un)</option>
                        <option value="cx">Caixa (cx)</option>
                        <option value="pct">Pacote (pct)</option>
                        <option value="fdo">Fardo (fdo)</option>
                        <option value="dz">Dúzia (dz)</option>
                    </optgroup>
                    <optgroup label="Comprimento">
                        <option value="m">Metro (m)</option>
                        <option value="cm">Centimetros (cm)</option>
                    </optgroup>
                </select>
                <button type="submit" class="btn_estoques">Salvar Produto</button>
            </form>
        </div>
    </div>

    <!-- Modal movimentar estoque -->
    <div id="modal-movimentacao-estoque" class="modal">
        <div class="modal-content">
            <span class="close-move-estoque">&times;</span>
            <h2>Movimentar estoque</h2>
            <form id="form-movimentacao-produto">
                <p>Selecione o Produto:</p>
                <select id="product-select">

                </select>
                <p>Tipo de movimentação:</p>
                <select id="tipo-de-movimento">
                    <option value="">
                        Adicionar
                    </option>
                    <option value="">
                        Remover
                    </option>
                </select>
                <p>Quantidade Movimentada:</p>
                <input type="number">
                <p>Descreva sua movimentação: </p>
                <input type="text" placeholder="Descrição">
                <button type="submit" class="btn_estoques">Salvar Movimentação</button>
            </form>
        </div>
    </div>

    <!-- Modal Mais Informações -->
    <div id="modal-info-produto" class="modal">
        <div class="modal-content">
            <span class="close-info-produto">&times;</span>
            <h2>Detalhes do Produto</h2>
            <hr>
            <div class="info-corpo">
                <p><strong>Nome:</strong> <span id="info-produto-nome"></span></p>
                <p><strong>Descrição:</strong> <span id="info-produto-descricao"></span></p>
                <p><strong>Preço:</strong> <span id="info-produto-preco"></span></p>
                <p><strong>Validade:</strong> <span id="info-produto-validade"></span></p>
                <p><strong>Data de Adição:</strong> <span id="info-produto-adicao"></span></p>
                <p><strong>Quantidade em estoque:</strong> <span id="info-produto-quantidade"></span></p>
            </div>
        </div>
    </div>
    <!-- Modal Editar Produto -->
    <div id="modal-editar-produto" class="modal">
        <div class="modal-content">
            <span class="close-edit-produto">&times;</span>
            <h2>Editar Produto</h2>
            <form id="form-editar-produto">
                <input type="text" id="editar-produto-nome" placeholder="Nome">
                <label>Preço:</label>
                <input type="number" id="editar-produto-preco" step="0.01" placeholder="Preço (R$)">
                <label>Validade:</label>
                <input type="date" id="editar-produto-validade">
                <label>Quantidade em estoque:</label>
                <input type="number" id="editar-produto-quantidade" placeholder="Quantidade em estoque">
                <button type="submit" class="btn-save-produto">Salvar Alterações</button>
            </form>
        </div>
    </div>
</div>
<div id="toast-container"></div>