.estoque-section .main {
    margin-left: 100px;
}

.card-estoques {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;            
    margin-top: 30px;
    background-color: var(--sub-background);
    padding: 10px;
    border-radius: 10px;
    width: 12vw;
    height: 100px; 
}

.card-estoques h1 {
    font-size: 20px;
    color: #cbd5e1;
    margin: 0px;
    position: relative;
    top: -25px;
}

.card-estoques h3 {
    margin: 0;
    font-size: 28px;
    position: relative;
    top: -5px;
}

.btn_estoques {
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 18px;
    align-self: flex-end; /* alinha o próprio item ao final do container flex */
    margin-left: auto;
}

.btn_estoques:hover{
    background-color: #4b82ff;
}

.box-filter-estoque {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    background-color: var(--sub-background);
    padding: 10px;
    border-radius: 10px;
    width: 75vw;
    height: 100px;
}

.estoque-info {
    background-color: var(--sub-background);
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 75vw;
}

.produto-info {
    background-color: #0B1220;
    padding: 12px 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr auto;
    align-items: center;
    gap: 20px
}

.top-estoques{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-top: 30px;
    width: 76vw;
    margin-left: 100px;
}

.produto-botoes{
    display: flex;
    gap: 10px;
}

.produto-botoes button{
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap;
}

.btn-editar:hover{
    background-color: #4b82ff;
}

.btn-maisinfo{
    background-color: var(--sub-background);
}

.btn-maisinfo:hover{
    background-color: #334155;
}