<div class="dashboard-section">
    <div class="main-container">
        <h1>Dashboard</h1>
    <h4>Resumo geral</h4>
        <div class="cards-info-panel">
            <div class="card">
                <h1>Saldo Atual</h1>
                <h2 class="saldo">carregando...</h2>
            </div>
            <div class="card">
                <h1 >Receitas do mês</h1>
                <h2 class="receita">carregando...</h2>
            </div>
            <div class="card">
                <h1 >Despesas do mês</h1>
                <h2 class="despesa">carregando...</h2>
            </div>
            <div class="card">
                <h1>Lucro do mês</h1>
                <h2 class="lucro">carregando...</h2>
            </div>
        </div>
        
        <h1>Resumo de vendas hoje</h1>
        <div class="infosCard">
            <div class="card resume-card">

                <div class="btContainter">
                    <button class="saleResumeBt active-bt" id="pendentBt">Pendentes</button>
                    <button class="saleResumeBt" id="notFaturedBt">Não faturadas</button>
                </div>
                
                <div class="list-container" id="listContainer">
                    <div class="itens-list" id="item">
                        Lista de vendas pendentes
                    </div>
                </div>
            </div>

            <div class="card resume-card">

                <h3 class="titulo-vendas">Vendas Faturadas</h3>

                <div class="vendas-lista">

                    <div class="venda-item">
                        <span class="nome-item">Opala seis caneco</span>
                        <span class="valor-item">R$ 120,00</span>
                    </div>

                    <div class="venda-item">
                        <span class="nome-item">Produto B</span>
                        <span class="valor-item">R$ 80,00</span>
                    </div>

                    <div class="venda-item">
                        <span class="nome-item">Produto C</span>
                        <span class="valor-item">R$ 45,00</span>
                    </div>

                    <div class="venda-item">
                        <span class="nome-item">Produto D</span>
                        <span class="valor-item">R$ 20,00</span>
                    </div>

                    <div class="venda-item">
                        <span class="nome-item">Produto E</span>
                        <span class="valor-item">R$ 1500,00</span>
                    </div>

                </div>

            </div>

            
        </div>
    </div>
   
</div>
