.cardclientes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;            
    margin-top: 30px;
    background-color: var(--sub-background);
    padding: 10px;
    border-radius: 10px;
    width: 12vw;
    height: 100px;   /* É o card escrito Clientes Registrados */
}

.cardclientes h1 {
    font-size: 20px;
    color: #cbd5e1;
    margin: 0px;
    position: relative;
    top: -25px;
}

.cardclientes h3 {
    margin: 0;
    font-size: 28px;
    position: relative;
    top: -5px;
}

.btn_clientes {
    background-color: var(--button);
    color: white;
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    align-self: flex-end; /* alinha o próprio item ao final do container flex */
}

.btn_clientes:hover{
    background-color: #4b82ff; /* azul mais claro no hover */
}

.box-filter {
    display: flex;
    gap: 20px;            /* Caixa de filtro, abaixo do botão de adicionar cliente */
    margin-top: 10px;
    background-color: var(--sub-background);
    padding: 10px;
    border-radius: 10px;
    width: 75vw;
    height: 100px;
}

.clientes-historicos {
    background-color: var(--sub-background);
    margin-top: 10px;
    padding: 10px;                  /* É a parte de baixo da página, com 5 clientes e se estão devendo ou pagando */
    border-radius: 10px;
    width: 75vw;
}

.clientes-historico {
    background-color: #0B1220;
    padding: 12px 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr auto;
    align-items: center;
    gap:20px
}

.top-clientes{
    display: flex;
    justify-content: space-between;
    align-items: center;            /* É a parte de cima da página Clientes Registrados +  */
    margin-top: 30px;
    width: 76vw;
    margin-left: 100px;
}

/* Botão Mais Informações */
.btn-maisinfocliente {
    padding: 6px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap; /* Impede que o texto do botão quebre linha */
    background-color: var(--sub-background);
}

.btn-maisinfocliente:hover {
    background-color: #334155;
}