<div>
    <h1 id="clientestitle">Clientes</h1>
</div>

<div class="top-clientes">
    
    <div class="cardclientes">
        <h1>Clientes Registrados:</h1>
    </div>

    <button class="btn_clientes" id="btn_add_cliente">
        Adicionar cliente
    </button>

</div>

<div class="main">
        <div class="box-anything">
            
        </div>

        <div class="clientes-historicos">
            <div class="clientes-historico">
                <p>Carlos devendo</p>
                <span>- R$ 2000,00</span>
            </div>

            <div class="clientes-historico">
                <p>Luan pagou</p>
                <span>+ R$ 3000,00</span>
            </div>

            <div class="clientes-historico">
                <p>Eduardo devendo</p>
                <span>- R$ 1000,00</span>
            </div>

            <div class="clientes-historico">
                <p>Laura devendo</p>
                <span>- R$ 2000,00</span>
            </div>

            <div class="clientes-historico">
                <p>Marcelo pagou</p>
                <span>+ R$ 2500,00</span>
            </div>
        </div>
</div>