<div>
    <h1 id="clientestitle">Clientes</h1>
</div>

<div class="top-clientes">
    
    <div class="cardclientes">
        <h1>Clientes Registrados</h1>
        <h3>70</h3>
    </div>

    <button class="btn_clientes" id="btn_add_cliente">
        Adicionar cliente
    </button>

</div>

<div class="main">
        <div class="box-filter">
            
        </div>

        <div class="clientes-historicos">
            <div class="clientes-historico">
                <p>Carlos</p>
                <span>20 compras</span>
                <span>Prioridade: cartão de crédito</span>
                <span>Total de 5000 reais gastos</span>
                
                <div class="cliente-botoes">
                    <button class="btn-editarcliente">Editar</button>
                    <button class="btn-maisinfocliente">Mais informações</button>
                </div>
            </div>

            <div class="clientes-historico">
                <p>Luan</p>
                <span>14 compras</span>
                <span>Prioridade: pix</span>
                <span>Total de 7000 reais gastos</span>

                <div class="cliente-botoes">
                    <button class="btn-editarcliente">Editar</button>
                    <button class="btn-maisinfocliente">Mais informações</button>
                </div>
            </div>

            <div class="clientes-historico">
                <p>Eduardo</p>
                <span>30 compras</span>
                <span>Prioridade: pix</span>
                <span>Total de 12000 reais gastos</span>

                <div class="cliente-botoes">
                    <button class="btn-editarcliente">Editar</button>
                    <button class="btn-maisinfocliente">Mais informações</button>
                </div>
            </div>

            <div class="clientes-historico">
                <p>Laura</p>
                <span>16 compras</span>
                <span>Prioridade: cartão de débito</span>
                <span>Total de 9000 reais gastos</span>

                <div class="cliente-botoes">
                    <button class="btn-editarcliente">Editar</button>
                    <button class="btn-maisinfocliente">Mais informações</button>
                </div>
            </div>

            <div class="clientes-historico">
                <p>Marcelo</p>
                <span>25 compras</span>
                <span>Prioridade: cartão de crédito</span>
                <span>Total de 40000 reais gastos</span>

                <div class="cliente-botoes">
                    <button class="btn-editarcliente">Editar</button>
                    <button class="btn-maisinfocliente">Mais informações</button>
                </div>
            </div>
        </div>
</div>