.main {
    margin-left: 100px;
}

.cards-info-finanças {
    display: flex;
    gap: 20px;            
    margin-top: 30px;
}
.cardfinance {
    background-color: var(--sub-background);
    padding: 10px;
    border-radius: 10px;
    width: 9.375vw;
    height: 100px;
}

.cardfinance h1 {
    font-size: 20px;
    color: #cbd5e1;
    margin-top: 0px;
}

.cardfinance h2 {
    font-size: 22px;
    color: white;
}

.transactions {
    background-color: var(--sub-background);
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    width: 75vw;
}

.transaction {
    background-color: #0B1220;
    padding: 12px 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_finance {
    background-color: #2F6FED;
    color: white;
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 30px;
}

