    <div>
        <h1 id="financetitle">Finanças</h1>
    </div>
    
    <div class="main">
        <button class="btn_finance" id="btn_add_mov" >Adicionar movimentação</button>

        <div class="cards-info-finanças">
        <div class="cardfinance">
            <h1 >Saldo</h1>
            <h2 class="saldo"> </h2>
        </div>
        <div class="cardfinance">
            <h1 >Entradas</h1>
            <h2 class="receita"> </h2>
        </div>
        <div class="cardfinance">
            <h1 >Despesas</h1>
            <h2 class="despesa"> </h2>
        </div>
        </div>

        <div class="transactions">
            <div class="transaction">
                <p>Pagamento funcionarios</p>
                <span>- R$ 5000,00</span>
            </div>

            <div class="transaction">
                <p>Salário</p>
                <span>+ R$ 70000,00</span>
            </div>

            <div class="transaction">
                <p>Luz</p>
                <span>- R$ 1000,00</span>
            </div>

            <div class="transaction">
                <p>Colocar janelas</p>
                <span>- R$ 4000,00</span>
            </div>

            <div class="transaction">
                <p>Pintar o piso</p>
                <span>- R$ 1000,00</span>
            </div>
        </div>
    </div>

