<div class="estoque-section">
    <div>
        <h1 id="estoquetitle">Estoque</h1>
    </div>

    <div class="top-estoques">
    
        <div class="card-estoques">
            <h1>Produtos registrados:</h1>
            <h3>35</h3>
        </div>

        <div class="card-estoques">
            <h1>Produto mais vendido:</h1>
            <h3>Macarrao</h3>
        </div>

        <button class="btn_estoques" id="btn_add_estoque">
            Adicionar Produto
        </button>

    </div>

    <div class="main">
            <div class="box-filter-estoque">
            
            </div>

            <div class="estoque-info">
                <div class="produto-info">
                    <p>Macarrao</p>

                    <span>Preco: R$ 20</span>
                    <span>Validade: 15/07/2026</span>
                    <span>Quantidade no estoque: 135</span>

                    <div class="produto-botoes">
                        <button class="btn-editar">Editar</button>
                        <button class="btn-maisinfo">Mais informações</button>
                    </div>
                </div>

                <div class="produto-info">
                    <p>Peito de frango</p>

                    <span>Preco: R$ 45</span>
                    <span>Validade: 21/09/2026</span>
                    <span>Quantidade no estoque: 110</span>

                    <div class="produto-botoes">
                        <button class="btn-editar">Editar</button>
                        <button class="btn-maisinfo">Mais informações</button>
                    </div>
                </div>

                <div class="produto-info">
                    <p>Creatina</p>

                    <span>Preco: R$ 100</span>
                    <span>Validade: 30/12/2027</span>
                    <span>Quantidade no estoque: 50</span>
                
                    <div class="produto-botoes">
                        <button class="btn-editar">Editar</button>
                        <button class="btn-maisinfo">Mais informações</button>
                    </div>
                </div>

                <div class="produto-info">
                    <p>Whey Protein Growth</p>

                    <span>Preco: R$ 120</span>
                    <span>Validade: 05/02/2027</span>
                    <span>Quantidade no estoque: 70</span>
                
                    <div class="produto-botoes">
                        <button class="btn-editar">Editar</button>
                        <button class="btn-maisinfo">Mais informações</button>
                    </div>
                </div>

                <div class="produto-info">
                    <p>Whey Protein Dux</p>

                    <span>Preco: R$ 140</span>
                    <span>Validade: 27/04/2027</span>
                    <span>Quantidade no estoque: 60</span>
                
                    <div class="produto-botoes">
                        <button class="btn-editar">Editar</button>
                        <button class="btn-maisinfo">Mais informações</button>
                    </div>
                </div>
            </div>
    </div>
</div>
