.sales-section header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
.sales-section #openButton{
    width: 7vw;
    height: 5vh;
    border-radius: 10px;
    font-size: 20px;

}
.sales-section .opened{
    color: #00ff1a;
}
.sales-section .closed{
    color: red;
}
.sales-section .block{
    padding-left: 30px;
    background-color: var(--sub-background);
    height: auto;
    min-height: 80vh;
    flex: 1;
    border-radius: 20px;
    opacity: 0.5;
    cursor:default;

}
.sales-section .active{
    opacity: 1;
}
.sales-section .main-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-right: 30px;
    margin-top: 30px;
}
.sales-section .activate-item:hover{
    transform: scale(1);
}