<div>
</div>

<div class="main">
    <div class="resumo-container">

        <p class="resumo-titulo">Resumo diario</p>

        <div class="resumo-cards">

            <div class="resumo-card"><p>Total de vendas</p></div>

            <div class="resumo-card"><p>Vendas concluidas</p></div>

            <div class="resumo-card"><p>Vendas pendentes</p></div>

            <div class="resumo-card"><p>Produto mais vendido</p></div>
        
        </div>

    </div>

    <!--painel-->
    <div class="vendas-paineis">

        <div class="painel">
            <h3>Registrar vendas</h3>

            <div class="botao-registrar">Registrar</div>

        </div>

        <div class="painel">
            <h3>Vendas pendentes</h3>
        </div>

        <div class="painel">
            <h3>Vendas concluidas</h3>
        </div>

    </div>
</div>

