.vendas-container{
    padding:30px;
    color:white;
}

/* titulo */

.titulo-vendas{
    font-size:32px;
    margin-bottom:20px;
}


/* resumo */

.resumo-container{
    background:#1c2a3d;
    border-radius:12px;
    padding:20px;
    margin-bottom:25px;
}

.resumo-titulo{
    margin-bottom:15px;
    font-size:14px;
    color:#cbd5e1;
}

.resumo-cards{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:15px;
}

.resumo-card{
    background:#0f1c2e;
    padding:15px 20px 50px;
    border-radius:10px;
    font-size:20px;
    min-height:140px;
}

.resumo-card p{
    margin:0;
}

/* paineis */

.vendas-paineis{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
}

.painel{
    background:#1c2a3d;
    border-radius:12px;
    height:260px;
    padding:20px;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    min-height:440px;
}
.painel h3{
    font-weight:500;
    margin:0;
    text-align:center;
}


/* botao azul */

.botao-registrar{
    all: unset;

    min-width:100px;
    height:35px;
    padding:0 10px;

    background:#3b82f6; /* FORÇA A COR */
    color:#fff;

    border-radius:10px;

    font-size:13px;
    font-weight:600;

    position:absolute;
    bottom:15px;
    right:15px;

    text-align:center;
    line-height:35px;

    cursor:pointer;

    transition: all 0.3s ease;
}
.botao-registrar:hover{
    transform: scale(1.1);
    background:#2563eb;
}
