<div class="sales-section">
    <header>
        <button  id="openButton">Abrir caixa</button>
        <h1 class="opened" id="dataTitle">Caixa fechado</sh1>
    </header>

    <div class="main-container">
        <div class="block active">
            <h1>Realizar venda</h1>
            <select name="" id="">
                <option value="">cliente1</option>
                <option value="">cliente2</option>
            </select>

            <p>Produto:</p>
            <input type="text">
        </div>
        <div class="block">
            <h1>Resumo</h1>
        </div>
    </div>
</div>

