<div class="sales-section">
    <header>
        <button  id="openButton">Carregando...</button>
        <h1 class="waiting" id="titleInfo">Carregando...</h1>
        <h3 class="closed" id="dataTitle"></h3>
    </header>

    <div class="main-container">
        <div class="block">
            <div id="init-container" class="sale-container">
                <h1>Selecione o cliente </h1>

                <input placeholder="Nome ou CPF" id="client-search">

                <div class="client-list" id="client-list">
                    <div class="client-card">
                        <h4>Cliente indefinido</h4>
                        <p>Venda sem cadastro</p>
                    </div>
                    <div class="client-card">
                        <h4>Cliente indefinido</h4>
                        <p>Venda sem cadastro</p>
                    </div>
                </div>
                <div>
                    <button id="btnConfirmar" class="activate-item" disabled>Proximo -></button>
                </div>
            </div>
            <div id="add-product-container">

            </div>
        </div>
        <div class="block">
            <h1>Resumo</h1>
        </div>
    </div>
</div>

