<div class="dashboard-section">
    <h1>Dashboard</h1>
    <h4>Resumo geral</h4>

    <div class="cards-info-panel">
        <div class="card">
            <h1>Saldo Atual</h1>
            <h2 class="saldo">23,45 R$</h2>
        </div>
        <div class="card">
            <h1 >Receitas do mês</h1>
            <h2 class="receita">13,56 R$</h2>
        </div>
        <div class="card">
            <h1 >Despesas do mês</h1>
            <h2 class="despesa"> - 2,32 R$</h2>
        </div>
        <div class="card">
            <h1>Lucro do mês</h1>
            <h2 class="lucro">+ 4,89 R$</h2>
        </div>
    </div>
</div>