.finance-section .main {
    margin-left: 100px;
}

.cards-info-finanças {
    display: flex;
    gap: 20px;            
    margin-top: 30px;
}
.cardfinance {
    background-color: var(--sub-background);
    padding: 10px;
    border-radius: 10px;
    width: 9.375vw;
    height: 100px;
}

.cardfinance h1 {
    font-size: 20px;
    color: #cbd5e1;
    margin-top: 0px;
}

.cardfinance h2 {
    font-size: 22px;
    color: white;
}

.transactions {
    background-color: var(--sub-background);
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    width: 75vw;
}

.transaction {
    background-color: var(--background);
    padding: 12px 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_finance {
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 18px;
    margin-top: 30px;
}

.btn_finance:hover{
    background-color: #4b82ff;
}

/* Começo do css relacionado ao modal de cadastrar Movimentaçãoes */

.modal {
    display: none; /* Escondido por padrão */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7); /* Fundo escuro */
}

.modal-content {
    background-color: var(--sub-background);
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    color: white;
}

.modal-content form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.modal-content input {
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: var(--background);
    color: white;
}

.close-button {
    float: right;
    cursor: pointer;
    font-size: 28px;
    transition: 0.3s;
}

.close-button:hover{
    color: #ff4d4d
}
