<div class="finance-section">    

    
    <div class="main">
        <div>
            <h1>Finanças</h1>
        </div>

        <button class="btn_finance" id="btn_add_Movment" >Adicionar movimentação</button>

        <div class="cards-info-finanças">
            <div class="cardfinance">
                <h1 >Saldo</h1>
                <h2 class="saldo" id="valor-saldo">R$ 0,00</h2>
            </div>
            <div class="cardfinance">
                <h1 >Entradas</h1>
                <h2 class="entradas" id="valor-entradas">R$ 0,00</h2>
            </div>
            <div class="cardfinance">
                <h1 >Despesas</h1>
                <h2 class="despesas" id="valor-despesas">R$ 0,00</h2>
            </div>
        </div>

        <div class="transactions">
            <div class="transaction">
                <p><strong>Pagamento funcionarios</strong></p>
                <span>Pagamento mensal</span> 
                <span>01/04/2026</span>        
                <span class="valor-transacao">- R$ 5.000,00</span>
            </div>

            <div class="transaction">
                <p><strong>Salário</strong></p>
                <span>Recebimento</span>      
                <span>05/04/2026</span>        
                <span class="valor-transacao">+ R$ 70.000,00</span>
            </div>
        </div>

        <div id="modal-movment-register" class="modal">
            <div class="modal-content">
                <span class="close-button">&times;</span>

                <h2>Registrar movimentação</h2>

                <form id="form-cadastro">
                    <input type="text" id="nome" placeholder="Nome da Movimentação" required>
                    <input type="text" id="descricao" placeholder="Descrição (Ex: pagamento de boleto)" required>
                    <input type="number" id="valor" step="0.01" placeholder="valor em R$ (00,00 R$)" required>
                    <input type="date" id="data" required>

                    <label>Tipo de movimentação: </label>
                    <select id="movmentType">
                        <option value="ENTRADA">Entrada</option>
                        <option value="SAIDA">Saída</option>
                    </select>

                    <button type="submit" class="btn_finance">Salvar Movimentação</button>
                </form>
            </div>
        </div>
    </div>
</div>
