    
<div class="finance-section">    

    
    <div class="main">
        <div>
            <h1>Finanças</h1>
        </div>

        <button class="btn_finance" id="btn_add_Movment" >Adicionar movimentação</button>

        <div class="cards-info-finanças">
        <div class="cardfinance">
            <h1 >Saldo</h1>
            <h2 class="saldo"> </h2>
        </div>
        <div class="cardfinance">
            <h1 >Entradas</h1>
            <h2 class="receita"> </h2>
        </div>
        <div class="cardfinance">
            <h1 >Despesas</h1>
            <h2 class="despesa"> </h2>
        </div>
        </div>

        <div class="transactions">
            <div class="transaction">
                <p>Pagamento funcionarios</p>
                <span>- R$ 5000,00</span>
            </div>

            <div class="transaction">
                <p>Salário</p>
                <span>+ R$ 70000,00</span>
            </div>

            <div class="transaction">
                <p>Luz</p>
                <span>- R$ 1000,00</span>
            </div>

            <div class="transaction">
                <p>Colocar janelas</p>
                <span>- R$ 4000,00</span>
            </div>

            <div class="transaction">
                <p>Pintar o piso</p>
                <span>- R$ 1000,00</span>
            </div>
        </div>

        <div id="modal-movment-register" class="modal">
            <div class="modal-content">
                <span class="close-button">&times;</span>

                <h2>Registrar movimentação</h2>

                <form id="form-cadastro">
                    <input type="text" id="nome" placeholder="Nome da Movimentação" required>
                    <input type="text" id="descricao" placeholder="Descrição (Ex: pagamento de boleto)" required>
                    <input type="number" id="valor" placeholder="valor em R$ (00,00 R$)" required>
                    <input type="date" id="data" required>

                    <label>Tipo de movimentação: </label>
                    <select id="turno">
                        <option value="ENTRADA">Entrada</option>
                        <option value="SAIDA">Saída</option>
                    </select>

                    <button type="submit" class="btn_funcionarios">Salvar Movimentação</button>
                </form>
            </div>
        </div>
    </div>
</div>
