:root{
    --background: #F8FAFC;
    --sub-background: #E2E8F0;
    --button: #2563EB;

    --main-text: #0F172A;

    --saldo: #3B82F6;
    --receita: #16A34A;
    --despesa: #F97316;
    --lucro: #15803D;
    --prejuizo: #DC2626;

    --icon-color: #ffffff;
    --notify-icon:  #000000;
}

.logo-image{
    filter: none;
}

.saldo{color: var(--saldo);}
.receita{color: var(--receita);}
.despesa{color: var(--despesa);}
.lucro{color: var(--lucro);}
.prejuizo{color: var(--prejuizo);}

*{
    font-family: Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root{
        --background: #0B1220;
        --sub-background: #1E293B;
        --button: #2563EB;
        --main-text: #E2E8F0;
        --notify-icon: #ffffff
    }

    .logo-image {
        filter: invert(100%) brightness(200%);
    }
}
.notification-bt{
    color: var(--notify-icon);
}
button span{
    color: var(--icon-color);
}
body{
    background-color: var(--background);
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;

    color: var(--main-text);
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 60px;
    padding: 0 20px;
}
button{
    border: none;
    transition: all 0.3s;
    cursor: pointer;
    background-color: var(--button);
    color: var(--main-text);
}
.header-div{
    display: flex;
    gap: 10px;
}

.content {
    margin-left: 70px;
    transition: margin-left 0.3s;
}

.spacer{
    height: 100vh;
    width: 80px;
}
.flex-half-main-container{
    display: flex;

}
#site-content{
    flex: 1;
}
.navBar{
    background-color: var(--sub-background);

    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    width: 6vw;
    padding-left: 25px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    gap: 20px;
    transition: width 0.3s;
    z-index: 1000;

    box-shadow: 0.1px 0.1px 10px 0.1px black;

    overflow: hidden;

}
.navBar:hover{
    width: 13vw;
    box-shadow: 0.1px 0.1px 7px 0.1px black;

}

    #site-content{
        margin-top: -60px;
        margin-left: 10vw;
        transition: all 0.3s;
    }
    .navBar:hover ~ #site-content{
        margin-left: 16vw;
    }

.navBar button{
    background-color: var(--button);
    height: 5vh;
    width: 5vh;
    border-radius: 10px;
}

.notification-button{
    z-index: 1;
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 20px;
    border-radius: 50%;
    background-color: var(--sub-background);
}
.user-profile-button{
    z-index: 1;
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 20px;
    border-radius: 50%;
    background-color: var(--button);
}

.user-profile-button:hover {
    transform: scale(1.2);
    box-shadow: 0.1px 0.1px 4px 0.1px black;
}
.notification-button:hover{
    transform: scale(1.2);
    box-shadow: 0.1px 0.1px 4px 0.1px black;
}

.navBar .button-box{
    transition: all 0.3s;
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    
}
.navBar .button-box:hover{
    background-color: rgba(0, 0, 0, 0.24);
    padding: 10px;
    border-radius: 10px;
}
.navBar .button-box h5{
    opacity: 0;
    margin-left: 10px;
    transition: all 0.7s;
}
.navBar:hover h5{
    opacity: 1;
}
.logo-image{
    width: 60px;
    position: fixed;
    top: 20px;
}
.pageButton{
    cursor: pointer;
}

.right-modal-container{
    z-index: 0;
    width: 1px;
    height: 1px;
    background-color: var(--sub-background);
    border-radius: 20px;
    transition: all 0.3s ease;
    transform-origin: top;
    position: absolute;
    border: 3px solid rgb(0, 52, 77);
    opacity: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.notify-container{
    margin-top: 50px;
    margin-left: 120px;
}
.expand{
    width: 300px;
    height: 400px;
    margin-top: 65px;
    margin-left: -165px;
    opacity: 1;
}


.profile-container{
    margin-top: 50px;
    margin-left: 120px;
}
.profile-container h3{
    text-align: center;
    text-indent: 10px;
}
.profile-container.expand{
    width: 300px;
    height: 400px;
    margin-top: 65px;
    margin-left: -165px;
    opacity: 1;
}
.profile-container button{
    background-color: var(--button);
    height: 40px;
    width: 100px;
    border-radius: 10px;
}